<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://kit.fontawesome.com/f4d2f86d5b.js" crossorigin="anonymous"></script>
</head>

  

  <header>
    <div class="header-container">
      <h1>ThermoBella</h1>
        <div class="social-icons">
          <div class="left-icons">
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="color: white;"></i></a>
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: white;"></i></a>
          </div>
          <div class="right-icons">
            <a href="tel:+44 7391 585516"><i class="fas fa-phone" style="color: white;"></i></a>
            <span class="phone-text">07391 585516</span>
            <a href="mailto:info@example.com"><i class="far fa-envelope" style="color: white;"></i></a>
            <span class="email-text">info@example.com</span>
          </div>
        </div>
      
    </div>
  </header>

  
<div class="thermobella-title">
  <h2>ThermoBella</h2>
</div>




<!-- Sidebar -->
<div class="sidebar-toggle-button">
  <div class="hamburger-icon">
    <i class="fas fa-bars fa-2x" ></i>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="sidebar" class="home-sidebar">
  <nav class="home-nav">
  <div class="top-links">
    <h2 class="thermobella-title">ThermoBella</h2>
    <button class="close-button">X</button>
  </div>
  <a href="/">Home</a>
  <a href="/about">About Me</a>
  <a href="/buy">Buy</a>
  <a href="/join-us">Join Us</a>
  <a href="/demos">Demos</a>
  <a href="/what-is-a-thermomix">What is a Thermomix</a>
</nav>
  <div>
    <svg viewBox="0 0 950.8571428571428 1024" class="home-icon1"></svg>
  </div>
</div>
<div class="overlay"></div>


  
<!-- Content -->
<div class="content">

  
  <!-- Contents Links -->
  <div class="contents">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/buy">Buy</a>
    <a href="/join-us">Join Us</a>
    <a href="/demos">Demos</a>
    <a href="/what-is-a-thermomix">What is a Thermomix</a>
  </div>

</div>


 <div class="home-hero4">
  <div class="home-container10">
    <h4 class="home-text091">Book a Demo</h4>
    <div class="home-text092">
      <span >
        What if this is the text?andietbetbuebuebwfiwebf
      </span>
      <span>
        join as an advisor and get a discount on your thermomix or earn it  
      </span>
    </div>
    <button class="home-button1 button "onclick="navigateToBuy() ">Buy one right now</button>
  </div>
</div> 




  

  <div class="sophisticated-heading">
  <span> What to expect from your demonstration </span>
</div>


  <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="home-hero60">
        <div class="home-container60">
          <h1 class="home-text60">Discover the Amazing Thermomix</h1>
          <hr class="home-divider">
          <p class="home-text61">
            You need to see the Thermomix to believe it, and the best way to do this is by watching a live demonstration.
          </p>
          <p class="home-text61">
            I conduct most of my demos on Zoom, which is perfect for my busy clients. You can even join during your lunch break!
          </p>
          <p class="home-text61">
            I offer virtual demonstrations at a time that suits you. Please get in touch to book a slot. I also host in-person classes at various locations, including New Forest in Hampshire, Kingston & Caterham in Surrey, Hampshire, Dorset, and SW London. If you're not too far away and have a group of friends interested, I might be able to host a demonstration in your own home.
          </p>
          <p class="home-text61">
            If you bring 2-3 friends (online or in person), you'll receive a free thank you present, a 'host gift,' and I have some wonderful gifts to share!
          </p>
          <p class="home-text61">
            I have a selection of dates available in the coming months. Please contact me at mythermomixadventures@gmail.com to book your spot. Remember, there's never any obligation to buy, and it's always a fun, social, and delicious experience!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-container60 right-block">
        <p class="home-text62">
          In a Thermomix demonstration, you'll discover a kitchen assistant that transforms ordinary ingredients into extraordinary dishes effortlessly.
        </p>
        <p class="home-text62">
          Whether you're a seasoned cook or just starting out, the Thermomix's intuitive interface and guided recipes empower you to create gourmet meals with confidence.
        </p>
        <p class="home-text62">
          Elevate your culinary journey with the Thermomix. From chopping to kneading, sautéing to blending – experience a new world of flavors and possibilities.
        </p>
        <p class="home-text62">
          Join our passionate community of food enthusiasts and explore endless recipes crafted to perfection.
        </p>
        <p class="home-text62">
          There are also free Thermomix cooking classes held all over the country, including regular virtual classes. Some classes follow set recipes, like 'First Class with Thermomix,' while others may vary branch to branch.
        </p>
        <p class="home-text62">
          I've been conducting live Thermomix cooking classes since lockdown, and the beauty is that you can join from anywhere in the world! The virtual world works exceptionally well for customer cooking classes, and even though many of my customers have only met on a screen, a lovely community has developed.
        </p>
      </div>
    </div>
  </div>
</div>



  <div class="form-container-join">
      <h2>Book your demo</h2>
      <form action="https://formspree.io/f/mrgwkgej" method="POST" class="contact-form">
          
        <div class="form-group-join">
          <label for="fname">First Name:</label>
          <input type="text" id="fname" placeholder= "First Name" name="fname" required>
        </div>
        <div class="form-group-join">
          <label for="lname">Last Name:</label>
          <input type="text" id="lname" placeholder= "Last Name" name="lname" required>
        </div>
        <div class="form-group-join">
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder= "Email" name="email" required>
        </div>
        <div class="form-group-join">
          <label for="mobile">Mobile Number:</label>
          <input type="tel" id="mobile" placeholder= "Number" name="mobile" required>
        </div>
        <div class="form-group-join">
          <label for="postcode">Post Code:</label>
          <input type="text" id="postcode" name="postcode" required>
        </div>
        <div class="form-group-join">
          <label for="message">Message:</label>
          <textarea id="message" placeholder= "Any message you would like to send" name="message" required></textarea>
        </div>



        <div class="form-group-Demo">
        <label>What would you like to do?</label>
        <div class="form-check-Demo">
          <input type="checkbox" id="demo" name="options[]" value="demo">
          <label for="demo">Book a Demo</label>
        </div>
        <div class="form-check-Demo">
          <input type="checkbox" id="chat" name="options[]" value="chat">
          <label for="chat">Have a Chat</label>
        </div>
      </div>
        
        <button type="submit" class="submit-button">Submit</button>
      </form>
</div>


  
  <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
  
</html>