<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://kit.fontawesome.com/f4d2f86d5b.js" crossorigin="anonymous"></script>

</head>

  
  <header>
    <div class="header-container">
      <h1>ThermoBella</h1>
        <div class="social-icons">
          <div class="left-icons">
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="color: white;"></i></a>
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: white;"></i></a>
          </div>
          <div class="right-icons">
            <a href="tel:+44 7391 585516"><i class="fas fa-phone" style="color: white;"></i></a>
            <span class="phone-text">07391 585516</span>
            <a href="mailto:info@example.com"><i class="far fa-envelope" style="color: white;"></i></a>
            <span class="email-text">info@example.com</span>
          </div>
        </div>
      
    </div>
  </header>

  
<div class="thermobella-title">
  <h2>ThermoBella</h2>
</div>


<!-- Sidebar -->
<div class="sidebar-toggle-button">
  <div class="hamburger-icon">
    <i class="fas fa-bars fa-2x" ></i>
    
  </div>
</div>
<div id="sidebar" class="home-sidebar">
  <nav class="home-nav">
  <div class="top-links">
    <h2 class="thermobella-title">ThermoBella</h2>
    <button class="close-button">X</button>
  </div>
  <a href="/">Home</a>
  <a href="/about">About Me</a>
  <a href="/buy">Buy</a>
  <a href="/join-us">Join Us</a>
  <a href="/demos">Demos</a>
  <a href="/what-is-a-thermomix">What is a Thermomix</a>
</nav>
  <div>
    <svg viewBox="0 0 950.8571428571428 1024" class="home-icon1"></svg>
  </div>
</div>
<div class="overlay"></div>





  



  
<!-- Content -->
<div class="content">

  
  <!-- Contents Links -->
  <div class="contents">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/buy">Buy</a>
    <a href="/join-us">Join Us</a>
    <a href="/demos">Demos</a>
    <a href="/what-is-a-thermomix">What is a Thermomix</a>


    <!-- Add more content links as needed -->
  </div>

</div>

<div class="SouthWest">
  <div class="first-line">Isabella Manzoni -  Diamond advisor</div>
  <div class="second-line">Best thermomix advisor in SouthWest London
  </div>
  <div class="Third-line">Advisor Number 000000
  </div>
</div>


<div class="home-hero1">
  <div class="home-container1">
    <h4 class="home-text091">Upgrade Your Cooking with Thermomix</h4>
    <div class="home-text092">
      <span class="left-align1">
        Elevate Your Cooking Experience! Get Your Thermomix Today. 
      </span>
      <span class="left-align2">
        Discover the Art of Effortless Cooking  
      </span>
    </div>
    <button class="home-button1 button "onclick="navigateToBuy() ">Experience the Future of Cooking</button>
  </div>
</div>


  <section class="discount-offer">
  <div class="discount-content">
    <h2>Limited Monthly Offer!</h2>
    <div class="countdown-timer">
      <span id="days"></span> days
      <span id="hours"></span> hours
      <span id="minutes"></span> minutes
      <span id="seconds"></span> seconds
    </div>
  </div>
</section>

  

<!-- Grid -->
<div class="grid-row">
  <div class="center padding-64">
    <h4 class="xlarge bottombar">What We Offer</h4>
  </div>
  <div class="grid-col">
    <div class="item light-grey">
      <h3>Innovation</h3>
      <p>Experience cutting-edge culinary technology with Thermomix. Our appliance redefines cooking by seamlessly blending functionality and innovation.Thermomix transforms your kitchen into a hub of creativity.</p>
    </div>
    <div class="item grey">
      <h3>Versatility</h3>
            <p>Embrace limitless culinary possibilities with Thermomix. This remarkable appliance adapts to your cooking style, offering a range of functions in one compact design. Thermomix is your versatile kitchen companion.</p>
    </div>
  </div>
  <div class="grid-col">
    <div class="item dark-grey">
      <h3>Guidance</h3>
            <p>Embark on a culinary journey with Thermomix as your guide. Thermomix provides step-by-step instructions, making complex recipes accessible to all. Unlock your inner chef and create gourmet meals with confidence.</p>

    </div>
    <div class="item black">
      <h3>Commitment</h3>
            <p>Count on Thermomix to uphold our commitment to quality and excellence. Our promise is to deliver an appliance that elevates your cooking experience.</p>

    </div>
  </div>
</div>




<div class="container">
  <div class="row2">
    <div class="col-md-6">
      <div class="home-hero2">
        <div class="home-container2">
          <h4 class="home-text06">Elevate Your Culinary Adventures</h4>
          <hr class="home-divider">
          <p class="home-text07">
            Experience the brilliance of Thermomix. Unleash your inner chef with simplicity and precision.
          </p>
          <p class="home-text07">
            Create extraordinary with ease. From quick meals to gourmet feasts, embrace a new era of cooking simplicity.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='images/Thermomix19.jpeg') }}" class="home-image50" alt="Image">
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='images/Thermomix5.jpeg') }}" class="home-image51" alt="Image">
    </div>
    <div class="col-md-6">
      <div class="home-hero50">
        <div class="home-container50">
          <h4 class="home-text50">Simplify Excellence in Cooking</h4>
          <hr class="home-divider">
          <p class="home-text51">
            Explore a world of flavor possibilities. From gourmet creations to everyday delights, redefine your kitchen journey.
          </p>
          <p class="home-text51">
            Elevate your kitchen with innovation at your fingertips.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


  



    


  <div class="home-services">
      <div class="home-header2">
        <h5 class="heading">DISCOVER THERMOMIX</h5></div>
      <div class="home-grid">
        <div class="service-service service-root-class-name">
          <h3 class="service-title"><span>Excellence</span></h3>
          <span class="service-description">
            <span>
              Your partner for exquisite flavors and gourmet creations.
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name1">
          <h3 class="service-title"><span>Innovative</span></h3>
          <span class="service-description">
            <span>
              Make every meal a masterpiece of simplicity and taste.
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name5">
          <h3 class="service-title"><span>Delight</span></h3>
          <span class="service-description">
            <span>
              Delights that redefine convenience and precision in your kitchen.
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name2">
          <h3 class="service-title"><span>Magic</span></h3>
          <span class="service-description">
            <span>
              Unlock a world of effortless cooking right at your fingertips.
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name3">
          <h3 class="service-title"><span>Demo</span></h3>
          <span class="service-description">
            <span>
              These are all different types of sections which can be changed to anything
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name4">
          <h3 class="service-title"><span>Join </span></h3>
          <span class="service-description">
            <span>
              Become part of the Thermomix community
            </span>
          </span>
        </div>
      </div>
    </div>


 <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="home-hero60">
        <div class="home-container60">
          <h1 class="home-text60">Unveiling the Thermomix Magic</h1>
          <hr class="home-divider">
          <p class="home-text61">
                        For 7 years, my Thermomix has been the secret ingredient in my family kitchen.
          </p>
          <p class="home-text61">
            It effortlessly turns ordinary moments into extraordinary dishes, saving time and delighting my kids.
          </p>
          <p class="home-text61">
            From quick fixes to gourmet delights, Thermomix adds the magic touch to everything I create.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-container60 right-block">
        <p class="home-text62">
            I've embraced this culinary companion so deeply that I proudly became an advisor to spread the word.
        </p>
        <p class="home-text62">
            Join me in exploring the endless possibilities and joy that Thermomix brings to every kitchen.
        </p>
      </div>
    </div>
  </div>
</div>


  

  <section id="schedule" class="home-schedule">
      <div class="home-content07">
        <div class="home-header15">
          <h2 class="home-heading13">
            Schedule an in person or virtual Demo today
          </h2>
          <p class="home-caption8">
            Ready to dive into the world of Thermomix? Schedule an in-person or virtual demo today and discover how Thermomix can transform your culinary journey.
          </p>
        </div>
        <div class="home-types">
  <button class="button button-main button-white home-book-person1" onclick="navigateToDemos()">
    <span>Book a demo </span>
  </button>
      </div>
    </section>


  <section class="footer-light">
    <div class="container-2">
      <div class="footer-wrapper-two">
        <a href="/buy" class="footer-brand w-inline-block thermobella-title"> ThermoBella<img src="" loading="lazy" alt=""></a>
        <div class= "footer-block-two">
          <div class="footer-title"><strong>Thermombella</strong></div>
          <a href="/buy" class="footer-link-two">Buy</a>
          <a href="/" class="footer-link-two">Home</a>
          <a href="/what-is-a-thermomix" class="footer-link-two">What is a thermomix</a>
        </div>
        <div class= "footer-block-two">
          <div class="footer-title"><strong>Quick link</strong></div>
          <a href="/demos" class="footer-link-two">Demos</a>
          <a href="/about" class="footer-link-two">About</a>
          <a href="/join-us" class="footer-link-two">Join Us</a>
        </div>
        <div class="footer=form w-form">
          <form action="https://formspree.io/f/mrgwkgej" method="POST" class="contact-form">
          <form id="wf-form-Footer-Form" name="wf=form=Footer-Form" data-name="Footer Form" method="get" class="footer-form-container" data-wf-page-id="64ca438d903a0e7f41b98205" data-wf-element-id="a3c99867-c57d-cd84-fb4c-8a6d3e7567b4">
            <div class="footer-title">Subscribe</div>
            <div class="footer-form-block"><input type="email" class="footer=form-field w-input" maxlength="256" name="Subscribe-Email" data-name="Footer Email" aria-label=" Get product updates" placeholder= "Get product updates" id="Footer-Email" required=""><input type="submit" value="" data-wait="Please wait..." class="footer-form-submit w-button"></div>
          </form>
          </div>
        </div>
      </div>
      <div class="footer-divider-two"></div>
      <div class="footer-bottom">
        <div class="footer-copyright"> C 2023 Thermobella. All right reserved</div>
        <div class="footer-social-block-two">
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
        </div>
      </div>
    </div>
  </section>


  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/offers.js') }}"></script>



</html>





















  
<!-- Slideshow -->

  <!-- <div class="scroll-item">
<div class="slideshow-container">
  <div class="mySlides">
    <img src="{{ url_for('static', filename='image1.jpeg') }}" alt="Slide 1">
    <div class="slide-text">Slide 1 Text</div>
  </div>

  <div class="mySlides">
    <img src="{{ url_for('static', filename='Thermomix2.jpeg') }}" alt="Slide 2">
    <div class="slide-text">Slide 2 Text</div>
  </div>

  <div class="mySlides">
    <img src="{{ url_for('static', filename='Thermomix3.jpeg') }}" alt="Slide 3">
    <div class="slide-text">Slide 3 Text</div>
  </div>
</div>

<div class="container dark-grey padding xlarge">
  <div class="navigation"></div>
  <div class="left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left"></i></div>
  <div class="right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right"></i></div>
  <div class="center">
    <span class="tag"></span>
    <span class="tag"></span>
    <span class="tag"></span>
  </div>
</div>

<!--
 <div class="divider"></div>
<div class="home-content-wrap">
  <div class="w-layout-grid about-grid">
    <!-- Image on the right with text on the left -->
<!--
    <div class="home-section-wrap">
      <div class="label cc-light">About</div>
      <h3 class="section-heading">Who we are</h3>
      <p class="paragraph-light">We are thermomix and this is what we do</p>
    </div>
    <img src="{{ url_for('static', filename='Thermomix2.jpeg') }}" alt="">
  </div>

  <div class="w-layout-grid about-grid cc-about-2">
    <!-- Text on the right with an image on the left -->
<!--
    <img src="{{ url_for('static', filename='Thermomix2.jpeg') }}" alt="">
    <div class="home-section-wrap">
      <div class="label cc-light">Thermo</div>
      <h3 class="section-heading">Who we are</h3>
      <p class="paragraph-light">We are thermomix and this is what we do</p>
    </div>
  </div>
</div>
