<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://kit.fontawesome.com/f4d2f86d5b.js" crossorigin="anonymous"></script>

</head>

  
  <header>
    <div class="header-container">
      <h1>ThermoBella</h1>
        <div class="social-icons">
          <div class="left-icons">
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="color: white;"></i></a>
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: white;"></i></a>
          </div>
          <div class="right-icons">
            <a href="tel:+123456789"><i class="fas fa-phone" style="color: white;"></i></a>
            <span class="phone-text">071234567</span>
            <a href="mailto:info@example.com"><i class="far fa-envelope" style="color: white;"></i></a>
            <span class="email-text">info@example.com</span>
          </div>
        </div>
      
    </div>
  </header>

  
<div class="thermobella-title">
  <h2>ThermoBella</h2>
</div>


<!-- Sidebar -->
<div class="sidebar-toggle-button">
  <div class="hamburger-icon">
    <i class="fas fa-bars fa-2x" ></i>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="sidebar" class="home-sidebar">
  <nav class="home-nav">
  <div class="top-links">
    <h2 class="thermobella-title">ThermoBella</h2>
    <button class="close-button">X</button>
  </div>
  <a href="/">Home</a>
  <a href="/about">About Me</a>
  <a href="/buy">Buy</a>
  <a href="/join-us">Join Us</a>
  <a href="/demos">Demos</a>
  <a href="/what-is-a-thermomix">What is a Thermomix</a>
</nav>
  <div>
    <svg viewBox="0 0 950.8571428571428 1024" class="home-icon1"></svg>
  </div>
</div>
<div class="overlay"></div>





  



  
<!-- Content -->
<div class="content">

  
  <!-- Contents Links -->
  <div class="contents">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/buy">Buy</a>
    <a href="/join-us">Join Us</a>
    <a href="/demos">Demos</a>
    <a href="/what-is-a-thermomix">What is a Thermomix</a>


    <!-- Add more content links as needed -->
  </div>

</div>

<div class="SouthWest">
  <div class="first-line">Isabella Manzoni - Elite diamond advisor</div>
  <div class="second-line">Best thermomix advisor in SouthWes London</div>
</div>


<div class="home-hero1">
  <div class="home-container1">
    <h1 class="home-text091">Buy your first thermomix</h1>
    <div class="home-text092">
      <span class="left-align1">
        Fill in the form to know your next steps for buying a thermomix you dont need a demo. 
      </span>
      <span class="left-align2">
        join as an advisor and get a discount on your thermomix or earn it  
      </span>
    </div>
    <button class="home-button1 button "onclick="navigateToBuy() ">Buy one right now</button>
  </div>
</div>

  

<!-- Grid -->
<div class="grid-row">
  <div class="center padding-64">
    <span class="xlarge bottombar">What We Offer</span>
  </div>
  <div class="col">
    <div class="item light-grey">
      <h3>Design</h3>
      <p>Different types of sections which can be changed to anything would be cool to put more text in ahagdagfhayfgaeuyfgaeuyf</p>
    </div>
    <div class="item grey">
      <h3>Branding</h3>
      <p>Different types of sections which can be changed to anything would be cool to put more text in ahagdagfhayfgaeuyfgaeuyf</p>
    </div>
  </div>
  <div class="col">
    <div class="item dark-grey">
      <h3>Consultation</h3>
      <p>Different types of sections which can be changed to anything would be cool to put more text in ahagdagfhayfgaeuyfgaeuyf</p>
    </div>
    <div class="item black">
      <h3>Promises</h3>
      <p> Different types of sections which can be changed to anything would be cool to put more text in ahagdagfhayfgaeuyfgaeuyf</p>
    </div>
  </div>
</div>

</div>


<div class="container">
  <div class="row2">
    <div class="col-md-6">
      <div class="home-hero2">
        <div class="home-container2">
          <h4 class="home-text06">Magnificent things are very simple</h4>
          <p class="home-text07">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non volutpat turpis.
          </p>
          <p class="home-text07">
            Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='image1.jpeg') }}" class="home-image50" alt="Image">
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='image1.jpeg') }}" class="home-image50" alt="Image">
    </div>
    <div class="col-md-6">
      <div class="home-hero50">
        <div class="home-container50">
          <h4 class="home-text50">Magnificent things are very simple</h4>
          <p class="home-text51">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non volutpat
            turpis.
          </p>
          <p class="home-text51">
            Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


  



    


  <div class="home-services">
      <div class="home-header2">
        <h5 class="heading">PLANS</h5></div>
      <div class="home-grid">
        <div class="service-service service-root-class-name">
          <h3 class="service-title"><span>Branding</span></h3>
          <span class="service-description">
            <span>
              These are all different types of sections which can be changed to anything
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name1">
          <h3 class="service-title"><span>Strategy</span></h3>
          <span class="service-description">
            <span>
              These are all different types of sections which can be changed to anything
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name5">
          <h3 class="service-title"><span>Marketing</span></h3>
          <span class="service-description">
            <span>
              These are all different types of sections which can be changed to anything
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name2">
          <h3 class="service-title"><span>Thermomix</span></h3>
          <span class="service-description">
            <span>
              These are all different types of sections which can be changed to anything
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name3">
          <h3 class="service-title"><span>Demo</span></h3>
          <span class="service-description">
            <span>
              These are all different types of sections which can be changed to anything
            </span>
          </span>
        </div>
        <div class="service-service service-root-class-name4">
          <h3 class="service-title"><span>Join us</span></h3>
          <span class="service-description">
            <span>
              These are all different types of sections which can be changed to anything
            </span>
          </span>
        </div>
      </div>
    </div>


  <section id="schedule" class="home-schedule">
      <div class="home-content07">
        <div class="home-header15">
          <h2 class="home-heading13">
            Schedule an in person or virtual Demo today
          </h2>
          <p class="home-caption8">
            Want to schedule an appointment or something like that click the buttons and see these are different things
            ajdsdbiafbisbfaif
          </p>
        </div>
        <div class="home-types">
  <button class="button button-main button-white home-book-person1" onclick="navigateToDemos()">
    <span>Book a demo </span>
  </button>
      </div>
    </section>


  <section class="footer-light">
    <div class="container-2">
      <div class="footer-wrapper-two">
        <a href="#" class="footer-brand w-inline-block thermobella-title"> ThermoBella<img src="" loading="lazy" alt=""></a>
        <div class= "footer-block-two">
          <div class="footer-title">Company</div>
          <a href="#" class="footer-link-two">How it works</a>
          <a href="#" class="footer-link-two">Pricing</a>
          <a href="#" class="footer-link-two">Docs</a>
        </div>
        <div class= "footer-block-two">
          <div class="footer-title">Quick link</div>
          <a href="#" class="footer-link-two">Pricing</a>
          <a href="#" class="footer-link-two">Docs</a>
        </div>
        <div class="footer=form w-form">
          <form id="wf-form-Footer-Form" name="wf=form=Footer-Form" data-name="Footer Form" method="get" class="footer-form-container" data-wf-page-id="64ca438d903a0e7f41b98205" data-wf-element-id="a3c99867-c57d-cd84-fb4c-8a6d3e7567b4">
            <div class="footer-title">Subscribe</div>
            <div class="footer-form-block"><input type="email" class="footer=form-field w-input" maxlength="256" name="Footer-Email" data-name="Footer Email" aria-label=" Get product updates" placeholder= "Get product updates" id="Footer-Email" required=""><input type="submit" value="" data-wait="Please wait..." class="footer-form-submit w-button"></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! You submitted the form right and we have it </div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong try again </div>
          </div>
        </div>
      </div>
      <div class="footer-divider-two"></div>
      <div class="footer-bottom">
        <div class="footer-copyright"> C 2023 Thermobella. All right reserved</div>
        <div class="footer-social-block-two">
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="" loading="lazy" alt=""></a>
        </div>
      </div>
    </div>
  </section>

        
  
  <footer class="w3-footer w3-theme-d1 w3-margin-top">
    <a href="#home" onclick="scrollToTop()">To the top</a>
  </footer>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>



</html>





















  
<!-- Slideshow -->

  <!-- <div class="scroll-item">
<div class="slideshow-container">
  <div class="mySlides">
    <img src="{{ url_for('static', filename='image1.jpeg') }}" alt="Slide 1">
    <div class="slide-text">Slide 1 Text</div>
  </div>

  <div class="mySlides">
    <img src="{{ url_for('static', filename='Thermomix2.jpeg') }}" alt="Slide 2">
    <div class="slide-text">Slide 2 Text</div>
  </div>

  <div class="mySlides">
    <img src="{{ url_for('static', filename='Thermomix3.jpeg') }}" alt="Slide 3">
    <div class="slide-text">Slide 3 Text</div>
  </div>
</div>

<div class="container dark-grey padding xlarge">
  <div class="navigation"></div>
  <div class="left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left"></i></div>
  <div class="right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right"></i></div>
  <div class="center">
    <span class="tag"></span>
    <span class="tag"></span>
    <span class="tag"></span>
  </div>
</div>

<!--
 <div class="divider"></div>
<div class="home-content-wrap">
  <div class="w-layout-grid about-grid">
    <!-- Image on the right with text on the left -->
<!--
    <div class="home-section-wrap">
      <div class="label cc-light">About</div>
      <h3 class="section-heading">Who we are</h3>
      <p class="paragraph-light">We are thermomix and this is what we do</p>
    </div>
    <img src="{{ url_for('static', filename='Thermomix2.jpeg') }}" alt="">
  </div>

  <div class="w-layout-grid about-grid cc-about-2">
    <!-- Text on the right with an image on the left -->
<!--
    <img src="{{ url_for('static', filename='Thermomix2.jpeg') }}" alt="">
    <div class="home-section-wrap">
      <div class="label cc-light">Thermo</div>
      <h3 class="section-heading">Who we are</h3>
      <p class="paragraph-light">We are thermomix and this is what we do</p>
    </div>
  </div>
</div>